<footer>
    <ul type="none">
      <li class="itemFooter">
        Links Rapidos
        <ul type="none">
          <li class="subItemFooter"><a href="/home">Inicio</a></li>
          <li class="subItemFooter">
            <a href="Productos.html">Productos</a>
          </li>
          <li class="subItemFooter"><a href="Carrito.html">Carrito</a></li>
          <li class="subItemFooter">
            <a href="TerminosYCondiciones.html">Legales</a>
          </li>
        </ul>
      </li>
      <li class="itemFooter">
        Medios de Pago
        <ul type="none">
          <li class="subItemFooter">Visa</li>
          <li class="subItemFooter">Mastercard</li>
          <li class="subItemFooter">Amex</li>
          <li class="subItemFooter">Transferencia</li>
        </ul>
      </li>
      <li class="itemFooter">
        Contacto
        <ul type="none">
          <li class="subItemFooter">eMail</li>
          <li class="subItemFooter">Instagram</li>
          <li class="subItemFooter">Face</li>
          <li class="subItemFooter">Linkdin</li>
        </ul>
      </li>
    </ul>
  </footer>