<!DOCTYPE html>
<html>
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>   

     <title>Monstrar por ID de productos</title>

    <h3>aca estamos mostrando el producto de auno y podes sumarlo a tu Carrito</h3>
     
    
    <input type="button" class="AddCart" >    

    <%- include('partials/footer') %>
  
</body>

</html>