<!DOCTYPE html>
<html>
  <%- include('partials/headHome') %>

  <body>
    <%- include('partials/header') %>

    <section id="cuerpo">
      <article id="BannerPpal">
        <p id="TextoBanner">
          Cafe de la finca <br />
          al consumidor.
        </p>
      </article>
    </section>
    <div id="Items">
      <section id="Cafes">
        <article>
          <p>Cafe en Grano </p>
          <img src="/images/Emogi.png" alt="asdsd" width="25%">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
        <article>
          <p>Cafe Molido</p>
          <img src="/images/Emogi.png" alt="asdsd" width="25%">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
        <article>
          <p>Cafe Especial</p>
          <img src="/images/Emogi.png" alt="asdsd" width="25%">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
      </section>
      <section id="chocolates">
        <article>
          <p>Chocolate 40% Cacao</p>
          <img src="/images/Emogi.png" alt="asdsd" width="25%">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
        <article>
          <p>Chocolate 70% Cacao</p>
          <img src="/images/Emogi.png" alt="asdsd" width="25%">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
        <article>
          <p>Chocolate 90% Cacao</p>
          <img src="/images/Emogi.png" alt="asdsd" width="25%">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
      </section>
    </div>
<!-- footer -->
    <%- include('partials/footer') %>
  </body>
</html>
