<!DOCTYPE html>
<html>
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>   

     <title>Crear productos</title>

     
<main class="CrearProductos">
<form action="products/crear" method="post"> 
    
   <p> <label> Nombre del producto</label></p>
    <input type="text" value="nombreProducto" class="nombreProducto"><br>
    
    <p><label>Descripción</label></p>
    <textarea name="description" id="description" class="description" cols="30" rows="10"></textarea><br>
    
    <p><label>Imagen</label></p>
    <input type="file" value="imageProduct" class="imageProduct"><br>
    
    <p><label>Categoría</label></p>
    <select value="categoria" class="categoria"> 
      <p> <option value="1">Grano</option></p>
      <p> <option value="2">Molido</option></p>
      <p> <option value="3">Premium</option></p>
      <p> <option value="4">Saquitos</option></p>
      <p> <option value="4">Chocolate</option></p>
        </select><br>
    <p><label>Presentación</label></p>

    <input type="text" value="presentacion" class="presentacion"><br>
    
    <p><label>Precio</label></p>
    <input type="number" value="precio" class="precio"><br>
    
    <p><label>Destacado</label></p>
    <select> 
    <  p><option value="true">Si</option></p>
    <p><option value="false">No</option></p>
    </select><br>
    
    <p><label>Crear</label></p>
    <input type="submit"  value="Crear" class="Crear"><br>
    
    <p><label>Volver</label></p>
    <input type="reset" value="Borrar" class="borrar"><br>

</form>
</main>


    <!-- footer -->
    <%- include('partials/footer') %>   
</body>
</html>