<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headHome') %>
<link rel="stylesheet" href="/css/products.css"
    <body class="products">
    <%- include('partials/header') %>    

    <h1>Conozca nuestros productos</h1>
   
    <h3>Nuestro cafe</h3>
    <section id="Cafes_products"> 
        <section class="Cafe_molido">    
            <article class="product_box"><img src="/images/productsImage/1A-cafe.jpg" width="100"> </article>
            <br>
            <article class="product_box"><img src="/images/productsImage/2A-cafe.jpg" width="100"></article>
            <br>
        </section>
        <section class="cafe_grano">
            <article class="product_box"><img src="/images/productsImage/3A-cafe.jpg" width="120"></article>
            <br>    
        </section>
        <section class="saquitos">
        <article class="product_box"><img src="/images/productsImage/4A-cafe.jpg" width="100"></article>
        <br>
        <article class="product_box"><img src="/images/productsImage/5A-cafe.jpg" width="100"></article>
        <br>
        </section>
        <section class="cafe_especial">
        <article class="product_box"><img src="/images/productsImage/6A-cafe.jpg" width="200">
                <img src="/images/productsImage/6B-cafe.jpg" width="200">
        </article>
   
        <article class="product_box"><img src="/images/productsImage/7A-cafe.jpg" width="200">
                <img src="/images/productsImage/7B-cafe.jpg" width="200">
        </article>
     
        <article class="product_box"><img src="/images/productsImage/8A-cafe.jpg" width="200">
                 <img src="/images/productsImage/8B-cafe.jpg" width="200">
        </article>
        
        <article class="product_box"><img src="/images/productsImage/9A-cafe.jpg" width="200">
                <img src="/images/productsImage/9B-cafe.jpg" width="200">
        </article>

        <article class="product_box"><img src="/images/productsImage/10A-cafe.jpg" width="200">
                <img src="/images/productsImage/10B-cafe.jpg" width="200">
        </article>
    
        <article class="product_box"><img src="/images/productsImage/11A-cafe.jpg" width="200">
                <img src="/images/productsImage/11B-cafe.jpg" width="200">
        </article>
        
        <article class="product_box"><img src="/images/productsImage/12A-cafe.jpg" width="200">
                <img src="/images/productsImage/12B-cafe.jpg" width="200">
        </article>
        </section>
    </section>

        <h3>Nuestro Chocolate</h3>
        
    <section id="chocolates"> 
        <articles class="product_box">
            <p>Chocolate 40% Cacao</p>
        <img src="/images/productsImage/13-chocolate.jpg" width="200">
        </articles>

        <articles class="product_box">
            <p>Chocolate 70% Cacao</p>
        <img src="/images/productsImage/14-chocolate.jpg" width="200">
        </articles>

        <articles class="product_box">
            <p>Chocolate 90% Cacao</p>
            <img src="/images/productsImage/15-chocolate.jpg" width="200">
        </articles>

    </section><br>
    
    <%- include('partials/footer') %>

</body>
</html>