/*Styles de Products*/
*{
    box-sizing: border-box;
    margin: 0.2px;
    padding: 0px;
    list-style-type: none;
}

body{ 
    font-family: 'Jost', sans-serif;
    background-color:#ece0d1;
}
.box-article{
    display: flex;
    text-align: justify;   
}
.box-article :hover{
    opacity: 0.8;
}
.box-article a{
    text-decoration: none;
}

.productsH3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    color:#38220f;
    background-color: #dbc1ac;
}

#Cafes_products{
    display: flex;
    background-color: #967259;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    
}

section#Cafes{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}


#chocolates {
    margin: 0.5em;
    padding: 0.2;
    border: #38220f solid 0.25em;    
}

#chocolates articles.product_box{ 
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  margin: 1em;
  padding: 0.5em
}

#chocolates p{
 font-size: large;   
 color: #38220f;
 
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

article.product-detail-info{ 
    color:  #38220f;
    font-size: 20px;
}
article.product-detail-info a{
    text-decoration: none;
    color: #38220f;
}
button.action-button.delete{
    color: #634832;
    font: 0.8em sans-serif;
    border-radius: 5em;
    border-color: #38220f;
    background-color: #dbc1ac;
    width: 5rem;
    height: 2rem;
    margin: 0.5em;
}
/*detalil Product*/
div.container.products-wrapper{
    display: flex;
    flex-direction: column;
}
div.row{
    display: flex;
}
div.product-detail p{
    width: 15rem;
    text-align: justify;
}
div.product-detail{
    margin: 2rem;
    padding-left: 20%;
}
div.product-detail-info{
    margin: 0rem 2rem 2rem 2rem;
    width: 30rem;
}