/*Styles de Products*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{ 
    font-family: 'Jost', sans-serif;
}
div .productDescription{
    display: flex;
        align-items: center;
    flex-direction: column;
}

.productsH3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    color:#38220f;
    background-color: #dbc1ac;
}

.producto {
    padding: 0.5em;
    font-size: large;
}
#Cafes_products{
    display: flex;
    background-color: #967259;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    
}

section#Cafes{
    display: flex;
    flex-direction: column;
}

 section.Cafe_molido{
    display: flex;
    background-color: #ece0d1;
    width: 50em;
} 

 section.cafe_grano{
    background-color: #ece0d1;
    width: 50em;
 }
 
 section.saquitos{
    background-color: #ece0d1;
    width: 50em;
} 
section.cafe_especial{
    background-color: #ece0d1;
    width: 50em;
}


#chocolates {
    margin: 0.5em;
    padding: 0.2;
    border: #38220f solid 0.25em;    
}

#chocolates articles.product_box{ 
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  margin: 1em;
  padding: 0.5em
}

#chocolates p{
 font-size: large;   
 color: #38220f;
 
}