*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{ 
    font-family: 'Jost', sans-serif;
}
/*Header*/

header {
    background-image: url(/images/GranosArriba.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:fit-content;
    padding: 2%;
    margin: 2%;    
}

header h1 #logo{
    background-color: #ece0d1;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #634832;
    text-decoration: none;
    border: 0;
    padding: 5px;
    font-size: 6vmin;
    font-weight: 400;
}
header  #logo{
    display: flex;
    align-items: center;
    margin:auto;
    border: 2%;
}
nav {
    background-color: #ece0d1;
    opacity: 0.9;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 2.5vmin;
}

nav > ul > li {

    display: inline-block;
}

nav > ul > li a {
    display: inline-block;
    display: flex;
    color: #634832;
    text-decoration: none;
    padding: 0.25em;
    margin: 0.25em;
    font-weight: 400;
}

/*Cuerpo*/


#cuerpo{
    padding: 2%;
    margin: 2%;
    min-height: fit-content;
}

#BannerPpal{
    display: flex;
    min-height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    height:fit-content;
    padding: 10%;
    background-image: url(/images/manos.jpg);
    text-decoration: none;
    color: #634832;
    text-decoration: none;
}

#TextoBanner {
    background-color: #ece0d1;
    opacity: 0.9;
    padding: 2%;
    font-size: 1rem;
    font-weight: 400;
}

#Cafes{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    margin: 2%;
    min-height: fit-content;
}

#Cafes article{
    box-sizing: border-box;
    border: 1px solid grey;
    background-color: #634832;
    width: 20%;
    height: 100px;
    padding: auto;
}

.destacados{ 
    display: flex;
    background-color:	#dbc1ac;
    color: #38220f;
    justify-content: center;
    font-size: 3em
    }

.slider-container {
        display: flex;
        width: 100%;
        height: 100vh;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
}
      
.slider-container img {
        flex: 0 0 100%;
        width: 100%;
        object-fit: cover;
        scroll-snap-align: center;
      }

article.product{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 1% 1%;
    font-size: 2.5vmin;
}
/* seccion carro de compras */

hr.solid{
    border-top: 3px solid #634832;
    margin: 10px;
}
section{
    background-color: #ece0d1;

}

.container{
    display: flex;
   flex-direction: column;
   justify-content: start;

}
.blank{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 20px;
    width: 80%;
    max-width: 300px;
    /* background-color: #ece0d1; */
    align-items: center;

}
.quantity{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 24px;
    width: 30vw;
    background-color: #ece0d1;
    align-items: center;
    justify-content: center;
    font-size: 14px;

}

section div.product{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 50px;
    width: 80%;
    max-width: 300px;
    background-color: #967259;
    align-items: center;
}

section div.product img{
    padding: 4px;
    flex-grow: 25%;
    width: 30%;
    max-width: fit-content;
    height: 90%;


}

section div.price{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 24px;
    width: 30vw;
    background-color: #ece0d1;
    align-items: center;
    font-size: 14px;
}
section div.total-price{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 24px;
    width: 30vw;
    background-color: #ece0d1;
    align-items: center;
    font-size: 14px;
}

section form{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 24px;
    width: 30vw;
    background-color: #ece0d1;
    align-items: center;
    font-size: 14px;
}

.total-price{
    display: flex;
    padding-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 24px;
    max-width: 200px;
    background-color: #ece0d1;
    align-items: flex-end;
    justify-content: end;
    font-size: 14px;
}

.total{
    display: flex;
    padding: 10px;
    padding-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 24px;
    background-color: #ece0d1;
    align-items: flex-end;
    justify-content: end;
    font-size: 14px;

}

.recently-viewed{
    background-color: #ece0d1;

}
.subtitle{
    background-color: #967259;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #ece0d1;
    border: 0;
    padding: 5px;
    font-weight: 400;

}
.viewed-container{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #967259;
}
.articles{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 47%;
    background-color: #967259;
    align-items: center;

}

.articles img{
    padding: 4px;
    flex-grow: 25%;
    width: 80%;
    max-width: fit-content;
    height: 90%;


}


/*footer*/
.div#colum-1 {
    flex-direction: column;
    width: min-content;
}
.div#colum-2{
flex-direction: column;
width: min-content;
}
.div#colum-3{
flex-direction: column;
width: min-content;

}

footer {
    display: flex;
    justify-content: center;
    background-color: #fef2e3;
    height: fit-content;
    align-items: center;
    margin:auto;
    font: 1em sans-serif;
}
footer div{
    width: min-content;
    display: flex;
    margin: 2px;
    padding: 5px; 
    
}


footer ul li .itemFooter{
    display: flex;
    font-weight: 900;
    font-size:5vmin;
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-left:3em;
    padding: 0.3em;
    margin: 0.3em;
    }

footer ul li{
    font-weight: 400;
    font-size:1.5vmin;
    position: relative;
    display: inline-block;
    margin-left:3em;
    padding: 0.25em;
    margin: 0.25em;
    text-decoration: none;
}

footer p {

        align-items: center;
        color: #634832;
        margin-right: 5em;
        margin-top: 1em;
    }
    
.itemFooter ul{
    display: flex;
    flex-direction: column;
    margin: 6em;
}

@media (min-width: 360px){
    header h1 #logo{
        font-size: 2.5rem;
    }
    nav {display: none;
     }

     .top-header{
        display: flex;
        justify-content: space-around;


     }

     div.burger-menu i{
        background-color: #634832;
        border-radius: 5px;
        color: #FFF;
        font-size: 20px;
        height: 40px;
        margin: 10px 0px 20px 0px;
        padding: 10px;
        width: 40px;
    }
    
.blank{
    display: none;
}
.quantity{
    display:none;

}
section div.total-price{
        display: none;


    }
   

    
    

}


@media (min-width: 768px){

    div.burger-menu i{
       display: none;
    }
    header h1 #logo{

        font-size: 3rem;
    }

    nav {
        background-color: #ece0d1;
        opacity: 0.9;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    h1 {margin: auto;
        


     }
     .container{
        flex-direction: row;
        flex-wrap: nowrap;
     }
     .total-price{
        display: flex;
        justify-content: center;
    }
    section div.price{
        justify-content: center;
    }
    
    section form{
        justify-content: center;
    }
    .blank{
        display: flex;
    }
    .quantity{
        display:flex;
    
    }
    section div.total-price{
            display: flex; 
    }
    .viewed-container{
        flex-wrap: nowrap;
        


    }
    /* desde aqui coloque los styles de register */
}
div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color:#967259;
    font-size: 20px;
    height: 40px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
main{
    width: 90%;
    margin: 0 auto;
    background-color:#ece0d1;
    color:black;

}

.enviar, .borrar{
    border: #634832;
    border-radius: 1em;
}
.enviar:hover{
    background-color:#f1cc9f;    
}
.borrar:hover{
    background-color:#f1cc9f; 
}  


