<!DOCTYPE html>
  <html>
  <%- include('partials/head') -%>

  <body>
<%- include('partials/header') -%>

    <section id="cuerpo">
      <article id="BannerPpal">
        <p id="TextoBanner">
          Cafe de la finca <br />
          al consumidor.
        </p>
      </article>

    </section>
    <div class="destacados"><h3>DESTACADOS</h3></div>
    
    <div class="slider-container" id="Items">
       
      <section id="Cafes">
       <article class="producto">
          <p>Cafe en Molido </p>
          <img class="slider-item" src="/images/productsImage/1A-cafe.webp" alt="asdsd" width="200">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
        <article div class="producto">
          <p>Cafe Molido</p>
          <img class="slider-item" src="/images/productsImage/2A-cafe.jpg" alt="asdsd" width="200">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
        <article class="producto">
          <p>Cafe en saquitos</p>
          <img class="slider-item" src="/images/productsImage/5A-cafe.jpg" alt="asdsd" width="200">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
      </div>
      </section>
      <section id="chocolates">
        <article>
          <p>Chocolate 40% Cacao</p>
          <img src="/images/productsImage/13-chocolate.jpg" alt="asdsd" width="200">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
        <article>
          <p>Chocolate 70% Cacao</p>
          <img src="/images/productsImage/14-chocolate.jpg" alt="asdsd" width="200">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
        <article>
          <p>Chocolate 90% Cacao</p>
          <img src="/images/productsImage/15-chocolate.jpg" alt="asdsd" width="200">
          <p>$ 100</p>
          <p>Agregar al Carrito</p>
        </article>
      </section>
    </div>
<!-- footer -->
    <%- include('partials/footer') %>
 
  </body>
</html>
