<!DOCTYPE html>
<html>
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>   
<h1>TERMINOS Y CONDICIONES</h1>

<h2>TÉRMINOS DE USO DEL SITIO Y TÉRMINOS DE COMPRA A TRAVÉS DEL SITIO WEB MARIAANTONIACAFE.CO</h2>

<h3>INTRODUCCIÓN</h3>

<p>El presente documento (conjuntamente con todos los documentos en él mencionados) establece las condiciones por las que se rige el uso de esta página web (www.cafeantonia.co) <br>
  y la compra de productos en la misma (en adelante, las "Condiciones"), cualquiera que sea el aplicativo, medio digital, soporte o dispositivo a través del que se pueda acceder. <br>
  Le rogamos que lea atentamente las presentes Condiciones, nuestra Política de Privacidad y Cookies (“Política de Privacidad y Cookies”)<br> y la Política de Tratamiento de Datos Personales (conjuntamente, las “Políticas de Protección de Datos Personales”) antes de usar esta página web. <br>
  Al utilizar esta página web o hacer un pedido a través de la misma usted consiente quedar vinculado por estas Condiciones y por nuestras Políticas de Protección de Datos Personales, por lo que, <br>
  si no está usted de acuerdo con todas las Condiciones o con las Políticas de Protección de Datos Personales, no debe usar esta página web. </p>

<p>Estas Condiciones podrán ser modificadas. Es su responsabilidad leerlas cada vez que va realizar una compra a través de la página web, ya que las condiciones vigentes en el momento de celebración de cada Contrato, en el instante de uso de la página web, serán las que le resulten aplicables. </p>
<p>Si tiene alguna pregunta relacionada con las Condiciones o las Políticas de Protección de Datos Personales puede ponerse en contacto con nosotros a través de nuestras vías de contacto. </p>
<p>El contrato podrá formalizarse, a su elección, en cualquiera de los idiomas en los que las Condiciones están disponibles en esta página web. </p>

<h3>DATOS DEL VENDEDOR Y DUEÑO DEL SITIO WEB</h3>

<p>La venta de artículos a través de esta página web es realizada bajo la denominación “MARIA ANTONIA CAFÉ” por MARIA ANTONIA CAFE S.A.S., sociedad debidamente constituida de acuerdo con las leyes de la República de Colombia, e identificada con el NIT 900.998.248, cuya dirección de notificación judicial es Carrera 30A #10D-52 oficina 201, Medellín, Teléfono:  324 2416552 y correo electrónico: servicioalcliente@latiendadelcafe.co 

<h3>DATOS DEL VISITANTE O USUARIO DEL SITIO WEB</h3>
<p>La información o datos personales que el visitante facilite serán tratados con arreglo a lo establecido en la Política de Privacidad y Cookies y en la Política de Tratamiento de Datos Personales. Al hacer uso de esta página web el usuario consiente el tratamiento, almacenamiento, transmisión y /o transferencia nacional e internacional de dicha información y datos y declara que toda la información o datos que facilite son veraces y se corresponden con la realidad. </p>

<h3>USO AUTORIZADO DEL SITIO WEB “MARIA ANTONIA CAFÉ”</h3>
<p>Al hacer uso de esta página web y realizar pedidos a través de la misma el usuario del sitio se compromete a: </p>

<p>Hacer uso de esta página web únicamente para realizar consultas o pedidos legalmente válidos. </p>

<p>No realizar ningún pedido falso o fraudulento. Si razonablemente se pudiera considerar que se ha hecho un pedido de esta índole MARIA ANTONIA CAFE S.A.S. estará autorizado a anularlo e informar a las autoridades pertinentes. </p>

<p>Proveer a MARIA ANTONIA CAFE S.A.S. su dirección de correo electrónico, dirección y/u otros datos de contacto de forma veraz y exacta. Así mismo, consiente que MARIA ANTONIA CAFE S.A.S. podrá hacer uso de dicha información para ponerse en contacto con el usuario si es necesario. De igual forma, es necesario resaltar que si los datos proporcionados son sujetos de actualización, la responsabilidad de informar dichos cambios corresponde al comprador.  </p>

<p>Si el usuario no facilita a MARIA ANTONIA CAFE S.A.S. toda la información que ésta le requiere, no podrá atenderse el pedido. </p>

<H3>CAPACIDAD LEGAL</H3>
<p> realizar un pedido a través de esta página web, el usuario declara ser mayor de 18 años y tener capacidad legal para celebrar contratos. Los menores de edad no podrán realizar compras a través de la página web, salvo que obren representados por quien según la ley corresponda.</p>

<h3>DEL SITIO Y DE LOS PRODUCTOS </h3>
<P>Los artículos que se ofrecen a través de esta página web están únicamente disponibles para su envío dentro del territorio colombiano, salvo aquellas áreas o zonas del territorio colombiano que por la dificultad de acceso, comunicaciones o consideraciones similares se justifique que dicha oferta no esté disponible. </P>

<h3> DE REALIZACIÓN DE PEDIDOS. </h3>
<p>Para realizar un pedido, el usuario deberá añadir los productos al carrito de compra para, seguir el procedimiento de compra en línea y hacer clic en "Autorizar pago". </p>

<p>Tras esto, el usuario recibirá un correo electrónico acusando recibo de su pedido y una llamada por parte de nuestro equipo de servicio al cliente (la "Confirmación de Pedido"). Asimismo, el usuario será informado mediante correo electrónico o mensaje de texto que el producto está siendo enviado (la "Confirmación de Envío"). </p>

<h3>RECTIFICACIÓN DE INFORMACIÓN Y DETECCIÓN DE ERRORES EN PEDIDOS </h3>
<p>En caso de que el usuario detectase que se ha producido un error al introducir sus datos personales durante su registro como usuario de esta página web, podrá modificar los mismos en el apartado denominado “Mi Perfil”.</p>

<p>En todo caso, podrá corregir errores relacionados con los datos personales aportados durante el proceso de compra dirigiéndose al servicio de atención al cliente mediante el chat accesible en la página web o mediante los canales previstos para ejercitar el derecho de rectificación contemplado en las Políticas de Datos Personales de MARIA ANTONIA CAFE S.A.S.</p>

<p>Esta página web muestra ventanas de confirmación en diversos apartados del proceso de compra que no permiten proseguir con el pedido si los datos de estos apartados no se han proporcionado correctamente. Asimismo, esta página web ofrece los detalles de todos los artículos que haya añadido a su cesta durante el proceso de compra, de forma que, antes de realizar el pago, el usuario podrá modificar los datos de su pedido. </p>

<p>Si el usuario detectase un error en su pedido con posterioridad a la finalización del proceso de pago, deberá ponerse en contacto de manera inmediata con el servicio de atención al cliente, mediante el chat accesible en nuestra página web o a través de las líneas de atención al cliente. Lo anterior puede ejecutarse dentro de los 7 días calendario posteriores a la formalización del pedido, una vez transcurrido ese plazo, MARIA ANTONIA CAFE S.A.S. no se hace responsable por su solicitud y/o pedido.</p>

<h3>VENTA CONDICIONADA.</h3>
<p> Todos los pedidos están sujetos a la disponibilidad de los productos. Si se produjeran dificultades en cuanto al suministro de productos o si no quedan artículos en stock, MARIA ANTONIA CAFE S.A.S. informará de dicha situación al usuario y se podrá  reembolsar la cantidad abonada dentro de los 7 días hábiles posteriores al evento, y una vez se aporte una certificación bancaria; también podrá, canjear por otros productos o servicios; u otorgarse puntos redimibles por el mismo valor de la compra. </p>

<h3> ENVÍO DE PRODUCTOS</h3>
<p>Salvo que existan circunstancias derivadas de la personalización de los productos, o se produzcan circunstancias imprevistas o extraordinarias, MARIA ANTONIA CAFE S.A.S. enviará el pedido consistente en un plazo máximo de 5 días hábiles a contar desde la fecha de la Confirmación de Pedido.</p>

<p>En el momento de procesar la compra, la plataforma mostrará el costo del envío. </p>

<p>Se podrá únicamente solicitar la entrega de los productos a domicilio, proporcionando necesariamente los datos de la dirección de entrega. </p>

<p>Si por algún motivo MARIA ANTONIA CAFE S.A.S. Si no pudiese cumplir con la fecha de entrega, informará al usuario de esta circunstancia y le dará la opción de seguir adelante con la compra estableciendo una nueva fecha de entrega o bien anular el pedido con el reembolso total del precio pagado. </p>

<P>A efectos de las presentes Condiciones, se entenderá que se ha producido la "entrega" o que el pedido ha sido "entregado" en el momento en el que el usuario o un tercero indicado por éste entre en posesión material de los productos, lo que se acreditará mediante  mensaje de texto, E-mail, o mensaje dentro de la plataforma de WhatsApp firmalo referente a  la recepción del pedido en la dirección de entrega convenida. </P>

<h3> IMPOSIBILIDAD DE ENTREGA </h3>
<p>Si MARIA ANTONIA CAFE S.A.S. no puede efectuar la entrega del pedido tras dos (2) intentos, el pedido será retornado a MARIA ANTONIA CAFE S.A.S. </p>

<p>En este caso el usuario podrá solicitar que el pedido sea enviado nuevamente, pagando los gastos de envío nuevamente. </p>

<p>En caso de que transcurridos 15 días desde que el pedido esté disponible para su entrega, y el pedido no haya sido entregado por causa no imputable a MARIA ANTONIA CAFE S.A.S., se entenderá que el usuario desea desistir de la compra y el contrato se resolverá. Como consecuencia de la resolución del contrato, MARIA ANTONIA CAFE S.A.S. devolverá todos los pagos recibidos de usted, salvo los gastos de envío, en el plazo máximo de 30 días desde la fecha en se resuelva el contrato. Lo anterior una vez se acredite mediante certificación bancaria, la cuenta a la que se debe realizar dicho reembolso.  </p>

<h3>TRANSMISIÓN DEL RIESGO Y LA PROPIEDAD </h3>
<P>Los riesgos de los productos serán de cargo del usuario a partir del momento de su entrega. 

El usuario del sitio web solo adquirirá la propiedad de los productos cuando se haya efectuado la entrega de éstos y MARIA ANTONIA CAFE S.A.S. haya recibido el pago completo de todas las cantidades debidas en relación con los mismos, incluidos los gastos de envío.</P>

<h3>PRECIO Y PAGO </h3>
<P>El precio de cada producto exhibido en el sitio web incluye impuestos (IVA); En el caso de los cafés y suscripciones, el impuesto corresponde al 5% del valor del producto, para accesorios, métodos de preparación u otros productos este impuesto corresponde al 19%. Lo anterior estará sujeto a variación, según lo establecido por el gobierno nacional y la federación nacional de cafeteros en materia de los  impuestos que correspondan.

El precio de cada producto exhibido en el sitio web no incluye gastos de envío, estos se calcularán al finalizar la compra de acuerdo al Departamento y Ciudad seleccionado por el cliente.

Los precios pueden cambiar en cualquier momento, pero (salvo en lo establecido anteriormente) los posibles cambios no afectarán a los pedidos con respecto a los que ya MARIA ANTONIA CAFE S.A.S. haya enviado una Confirmación de Pedido. 

Podrá utilizarse como medio de pago las tarjetas de crédito o débito visa, mastercard, american express, diners club, condensa, débito bancario pse , pago en bancos,  bancolombia, davivienda, banco de Bogotá

Al hacer clic en "Autorizar Pago" el usuario está afirmando y confirmando que la tarjeta de crédito es suya y que el origen de sus fondos es lícito.

Los pagos con tarjetas de crédito podrán estar sujetas a comprobaciones y autorizaciones por parte de la entidad emisora de las mismas, pero si dicha entidad no autorizase el pago, MARIA ANTONIA CAFE S.A.S. no se hará responsable por ningún retraso o falta de entrega y el contrato de compraventa no se entenderá celebrado en dicho caso. 

De igual forma y al hacer click en la autorización de pago, MARIA ANTONIA CAFE S.A.S. y/o “ La Tienda del Café” manifiestan que los precios exhibidos en la página web o la lista de precios, pueden variar en cualquier momento para compra individual y/o suscripción. Esta variación puede o no visualizarse dentro de la página web o la lista de precios. Los motivos en los cuales se fundamentan dichos aumentos pueden corresponder a condiciones de mercado como el aumento de la tasa de cambio, precio del café en la bolsa de New York, la prima por calidad, o políticas derivadas de impuestos o riesgos de tipo sanitario.  En el caso de la suscripción la variación del precio también se verá reflejada en el débito automático.   </P>

<h3> RETRACTO</h3>
<P>Tratándose de una venta a distancia, conforme lo previsto en el Artículo 47 del Estatuto del Consumidor, se entiende pactado el derecho de retracto. 

El derecho de retracto otorga el derecho al usuario de resolver el contrato de compraventa dentro del término máximo de cinco (5) días hábiles contados a partir de la fecha de la entrega del pedido y el consumidor deberá devolver el producto en los mismos medios y condiciones en que lo recibió. 

Los costos de transporte y demás que conlleve la devolución del bien serán cubiertos por el usuario del sitio web. Una vez se haya devuelto el bien, en las mismas condiciones en que le fue entregado, se hará la devolución del dinero dentro de los siguientes treinta (30) días calendario. 

Se exceptúan del derecho de retracto los bienes confeccionados conforme a las especificaciones del consumidor, los bienes personalizados y los bienes de uso personal (como lo es la ropa interior, ropa de baño , etc), los pedidos de bienes perecederos, los pedidos de bienes que por su naturaleza no puedan ser devueltos, o puedan deteriorarse o caducar con rapidez. 

El consumidor deberá devolver el bien, sin que este haya sido usado, con todas sus etiquetas internas y externas y en el empaque en que lo recibió. No se aceptará la devolución de bienes que no cumplan con estas características. 

Para ejercer el derecho de retracto el usuario deberá notificar a MARIA ANTONIA CAFE S.A.S. mediante el chat accesible en la página web o

mediante correo electrónico dirigido a la dirección servicioalcliente@mariaantoniacafe.co, informando de su decisión de desistir del contrato a través de una declaración inequívoca. 

Para cumplir el plazo del derecho de retracto, basta con que la comunicación relativa al ejercicio por su parte de este derecho sea enviada antes de que venza el plazo correspondiente. 

En caso de ejercer el derecho de retracto, MARIA ANTONIA CAFE S.A.S. le devolverá las sumas de dinero correspondientes al precio del producto y sus impuestos, pero no los gastos de envío o transporte de la mercancía.  Este reembolso podrá ser efectuado utilizando el mismo medio de pago empleado por el usuario para la transacción inicial, o mediante transferencia bancaria, según lo decida MARIA ANTONIA CAFE S.A.S. 

En aquellos casos en los que se haya adquirido más de un bien en una misma compra, y no se ejerza el derecho de retracto sobre la totalidad de los bienes, se realizará la devolución del valor de la compra pagado por él/los bienes devueltos, conforme lo señalado anteriormente. </P>

<h3>CAMBIOS</h3>
MARIA ANTONIA CAFE S.A.S. no realizará cambios de los productos vendidos a través del sitio web, por lo tanto, no estará obligado a aceptar devoluciones y realizar sustituciones de productos, salvo que se trate del ejercicio del derecho de retracto o de cambios en ejecución de la garantía legal.

<h3>GARANTÍA</h3>
Las reclamaciones relativas a la garantía legal se regirán por lo dispuesto en los términos de garantía, cambios y devoluciones publicadas en el sitio web.

<h3>SUSCRIPCIONES</h3>
MARIA ANTONIA CAFE S.A.S. se obliga para con EL SUSCRIPTOR durante la vigencia de un año (a partir de la fecha de formalizar la suscripción mediante el pago inicial de la misma) a que se tenga acceso a los productos ofrecidos en nuestra página web, y demás contenido de MARIA ANTONIA CAFE, en “LA TIENDA DEL CAFÉ”.co sin limitación alguna. Como contraprestación, EL SUSCRIPTOR se obliga a pagar en forma anticipada a favor de MARIA ANTONIA CAFE S.AS. el valor de la suscripción que adquiera. Considerado como pago por valor del contrato de suscripción PARÁGRAFO: FORMA DE PAGO: El pago de la suscripción deberá hacerse seleccionando las opciones disponibles en la plataforma de pagos, la cual incluye la inscripción de una tarjeta de crédito o debito con cvv, la cual conservará las condiciones de su franquicia para cobros internacionales o en línea, y de los cuales MARIA ANTONIA CAFE S.A.S. no es responsable. De igual forma una vez realizado dicho pago se producirá la activación de la suscripción.

Nota: En caso de que no proceda el pago, la plataforma intentará efectuar el mismo nuevamente por periodos de 4 días hasta que este sea eficaz, sin exceder 4 intentos.   

El plazo de ejecución del presente contrato de suscripción se da a partir de la aceptación y firma, y es por el término que defina el suscriptor. En esta ópera la renovación es automática, es decir el periodo de la suscripción se renovará por el mismo periodo inicial, y los cobros se realizan mes a mes a través del medio de pago seleccionado al momento de adquirir el servicio. En caso de que el Cliente/Suscriptor no se encuentre interesado en renovar el Servicio, deberá hacer la pausa temporal o la cancelación a través de su perfil en la página web de nuestra tienda, donde exprese su deseo de suspender la renovación automática. 

Nota: Así mismo, procederá a la devolución de dinero en los siguientes casos: 1. Fallecimiento del SUSCRIPTOR 2. Cuando se presenten fallas en el servicio de manera reiterativa que impidan al SUSCRIPTOR acceder al contenido, debidamente probadas y que hayan sido comunicadas por el SUSCRIPTOR a PUBLICACIONES SEMANA S.A. oportunamente y en debida forma. 3. Por derecho retracto, de conformidad con lo descrito en el numeral 14 del presente documento.

Política de Tratamiento de Datos Personales. MARIA ANTONIA CAFE S.A.S es responsable del tratamiento de los datos personales de sus suscriptores, el cual es efectuado conforme a las políticas de privacidad y manejo de información. Los derechos que le asisten a EL SUSCRIPTOR titular de los datos personales son: conocer, actualizar y solicitar la rectificación o supresión de datos: solicitar prueba del otorgamiento de la autorización: saber del uso que MARIA ANTONIA CAFE S.A.S. Ha(n) hecho de sus datos personales; revocar en cualquier momento la autorización de inclusión de sus datos personales en las bases de datos de MARIA ANTONIA CAFE S.A.S.; solicitar sin costo alguno los datos personales previamente autorizados. Para ejercer estos derechos, EL SUSCRIPTOR puede contactarse al e-mail soporte@latiendadelcafe.co , De existir algún reclamo sin solucionar.

Los precios de las suscripciones pueden cambiar en cualquier momento sin previo a aviso, por consiguiente el cliente acepta que MARIA ANTONIA CAFE S.A.S pueda cambiar los valor del débito automático hechos a la tarjeta de crécito o  los  motivos  en los cuales  se fundamentan dichas fluctuaciones corresponden a condiciones de mercado,  pero (salvo en lo establecido anteriormente) los posibles cambios no afectarán a los pedidos con respecto a los que ya MARIA ANTONIA CAFE S.A.S. haya enviado una Confirmación de Pedido. 

<h3> PROPIEDAD INDUSTRIAL E INTELECTUAL </h3>
El usuario conoce y acepta que todo copyright, marca registrada y demás derechos de propiedad industrial e intelectual sobre los materiales o contenidos que se aportan como parte de la página web nos corresponden en todo momento a MARIA ANTONIA CAFE S.A.S. o a quienes otorgaron a MARIA ANTONIA CAFE S.A.S. licencia para su uso. 

<h3>LINKS DESDE NUESTRA PÁGINA WEB </h3>
En el caso de que el sitio web contenga links a otras páginas web y materiales de terceros, dichos links se facilitan únicamente a efectos informativos, sin que MARIA ANTONIA CAFE S.A.S. tenga control alguno sobre el contenido de dichas páginas web o materiales. Por lo tanto, no será responsable en forma alguna por ningún daño o pérdida derivados de su uso. 

<h3> ACONTECIMIENTOS FUERA DE NUESTRO CONTROL </h3>
MARIA ANTONIA CAFE S.A.S. no será responsables por ningún incumplimiento o retraso en el cumplimiento de alguna de las obligaciones asumidas, cuando el mismo se deba a acontecimientos que están fuera de su control razonable, por fuerza mayor, caso fortuito o hechos atribuibles a terceros, los cuales incluirán cualquier acto, acontecimiento, falta de ejercicio, omisión o accidente que esté fuera del control razonable de MARIA ANTONIA CAFE S.A.S. y entre otros, los siguientes: 

Huelgas, cierres patronales, pandemias, epidemias u otras medidas reivindicativas. 

Conmoción civil, revuelta, invasión, amenaza o ataque terrorista, guerra (declarada o no) o amenaza o preparativos de guerra. 

Incendio, explosión, tormenta, inundación, terremoto, hundimiento, epidemia o cualquier otro desastre natural. 

Imposibilidad de uso de trenes, barcos, aviones, transportes de motor u otros medios de transporte, públicos o privados.

Imposibilidad de utilizar sistemas públicos o privados de telecomunicaciones. 

Actos, decretos, legislación, normativa o restricciones de cualquier gobierno o autoridad pública. aislamiento preventivo obligatorio decretados por el gobierno municipal, departamental y/o nacional, entre otros.  

Se entenderá que las obligaciones quedarán suspendidas durante el período en que la situación de imposibilidad continúe, y MARIA ANTONIA CAFE S.A.S. dispondrá entonces de una ampliación en el plazo para cumplir dichas obligaciones por un periodo de tiempo igual al que dure la fuerza mayor, caso fortuito o hecho de tercero. 

<h3>NO RENUNCIA.</h3>
La falta de requerimiento por parte de MARIA ANTONIA CAFE S.A.S. del cumplimiento estricto por parte del consumidor o usuario de alguna de las obligaciones asumidas en virtud del contrato o de las presentes Condiciones o la falta de ejercicio por MARIA ANTONIA CAFE S.A.S. de los derechos o acciones que le pudiesen corresponder en virtud de dicho contrato o de las Condiciones, no supondrá renuncia ni limitación alguna en relación con dichos derechos o acciones ni le exonerará al usuario o consumidor de cumplir con tales obligaciones.

<h3>PARCIAL</h3>
Si alguna de las presentes Condiciones o alguna disposición de un contrato fuesen declaradas nulas y sin efecto por decisión en firme dictada por autoridad competente, los restantes términos y condiciones permanecerán en vigor, sin que queden afectados por dicha declaración de nulidad. 

<h3>MODIFICACIÓN DE ESTAS CONDICIONES</h3>
MARIA ANTONIA CAFE S.A.S. tiene el derecho de modificar los Términos y Condiciones, para lo cual será suficiente con publicar en el sitio web las modificaciones o actualizaciones a las mismas. Las modificaciones introducidas no tendrán carácter retroactivo y, serán de aplicación una vez publicadas en el sitio web. 

<h3>MARIA ANTONIA CAFE S.A.S. SE RESERVA EL DERECHO DE ADMISIÓN Y PERMANENCIA  </h3>
MARIA ANTONIA CAFE S.A.S. se reserva el derecho de venta y/o suscripción de cualquiera de las personas que soliciten producto mediante este medio y/o otros medios dispuestos para tal fin. 

<h3>LEGISLACIÓN APLICABLE Y JURISDICCIÓN </h3>
El uso del sitio web y los contratos de compra de productos a través dicha página web se regirán por la legislación colombiana. 

Cualquier controversia que surja o guarde relación con el uso de la página web o con dichos contratos será sometida a la jurisdicción exclusiva de los juzgados y tribunales de la República de Colombia.


    <!-- footer -->
    <%- include('partials/footer') %>   
</body>
</html>