<!DOCTYPE html>
<html>
  <%- include('partials/head') -%>

  <body>
<%- include('partials/header') -%>

<main class="login">
      <form action="/" method="POST">
        <ul>
          <li>
          <input type="text" name="user" placeholder="Nombre de usuario" />
          </li>
          <li>
          <input type="password" name="pass" placeholder="Contraseña" />
          </li> 
        <input type="submit" value="Enviar" class="enviar" />
      </ul>
      </form><br>
    </main>
    <!-- footer -->
    <%- include('partials/footer') %>
  </body>
</html>
