<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headHome') -%>
<link rel="stylesheet" href="/css/products.css"
    
<body class="products">
    <%- include('partials/header') -%>    

    <section class="Conozca nuestros productos">
        <main class="mainDestacados">
        <h3 class="productsH3">Nuestro Cafe</h3>

          <section class="containerProductos">
            <div class="producto">
              <img src="/images/productsImage/1A-cafe.webp" width="200" alt="" class="produto__img">
              <div class="productDescription">
                <h3 class="producto__title">Cafe Molido</h3>
                <span class="producto__price">$500.00</span>
              </div>
              <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
            </div>

            <div class="producto">
                <img src="/images/productsImage/2A-cafe.jpg" width="200" alt="" class="produto__img">
              <div class="productDescription">
                <h3 class="producto__title">Cafe Molido fuerte</h3>
                <span class="producto__price">$490.00</span>
              </div>
              <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
            </div>

            <div class="producto">
                <img src="/images/productsImage/3A-cafe.jpg" width="200" alt="" class="produto__img">
              <div class="productDescription">
                <h3 class="producto__title">Cafe en grano</h3>
                <span class="producto__price">$000.00</span>
              </div>
              <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
            </div>

            <div class="producto">
                <img src="/images/productsImage/4A-cafe.jpg" width="200" alt="" class="produto__img">
             <div class="productDescription">
              <h3 class="producto__title">Cafe en saquitos</h3>
              <span class="producto__price">$350.00</span>
              </div>
              <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
            </div>
            <div class="producto">
              <img src="images/productsImage/5A-cafe.jpg" width="200" alt="" class="produto__img">
            <div class="productDescription">
              <h3 class="producto__title">Cafe en saquitos</h3>
              <span class="producto__price">$400.00</span>
            </div>
            <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
          </div>

          <div class="producto">
              <img src="images/productsImage/6A-cafe.jpg" width="200" alt="" class="produto__img">
            <div class="productDescription">
              <h3 class="producto__title">Especial Franja Blanca</h3>
              <span class="producto__price">$1000.00</span>
            </div>
            <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
          </div>

          <div class="producto">
              <img src="images/productsImage/7A-cafe.jpg" width="200" alt="" class="produto__img">
            <div class="productDescription">
              <h3 class="produto__title">Especial Fluminense</h3>
              <span class="producto__price">$90.00</span>
            </div>
            <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
          </div>

          <div class="producto">
              <img src="images/productsImage/8A-cafe.jpg" width="200" alt="" class="produto__img">
           <div class="productDescription">
              <h3 class="producto__title">Especial Express</h3>
              <span class="producto__price">$90.00</span>
            </div>
            <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
          </div>
          
          <div class="producto">
            <img src="images/productsImage/9A-cafe.jpg" width="200" alt="" class="produto__img">
         <div class="productDescription">
            <h3 class="producto__title">Especial Descafeinado</h3>
            <span class="producto__price">$90.00</span>
          </div>
          <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
        </div>
        
        <div class="producto">
            <img src="images/productsImage/10A-cafe.jpg" width="200" alt="" class="produto__img">
         <div class="productDescription">
            <h3 class="producto__title">Especial Cinta Azul</h3>
            <span class="producto__price">$90.00</span>
          </div>
          <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
        </div>

        
        <div class="producto">
            <img src="images/productsImage/11A-cafe.jpg" width="200" alt="" class="produto__img">
         <div class="productDescription">
            <h3 class="produto__title">Especial Noir</h3>
            <span class="produto__price">$90.00</span>
          </div>
          <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
        </div>

        <div class="producto">
            <img src="images/productsImage/12A-cafe.jpg" width="200" alt="" class="produto__img">
         <div class="productDescription">
            <h3 class="producto__title">Especial Selección</h3>
            <span class="producto__price">$90.00</span>
          </div>
          <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
        </div>

        
        

    </section>


    <h3 class="productsH3">Nuestro Chocolate</h3>
        
    <section id="chocolates"> 
        <articles class="product_box">
            <h3>Chocolate 40% Cacao</h3>
        <img src="/images/productsImage/13-chocolate.jpg" width="200">
        </articles>

        <articles class="product_box">
            <h3>Chocolate 70% Cacao</h3>
        <img src="/images/productsImage/14-chocolate.jpg" width="200">
        </articles>

        <articles class="product_box">
            <h3>Chocolate 90% Cacao</h3>
            <img src="/images/productsImage/15-chocolate.jpg" width="200">
        </articles>

    </section><br>

    <%- include('partials/footer') %>

</body>
</html>