<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') -%>  
<body class="products">
    <%- include('partials/header') -%>    

<section class="Conozca nuestros productos">
    <main class="mainDestacados">
    <h2 class="productsH3">Nuestro Cafe</h2>

          <section class="containerProductos">

            <div class="producto">
              <a href="/products/1" class="action-button view"><img src="/images/productsImage/1A-cafe.webp" width="200" alt="" class="produto__img"></a>
              <div class="productDescription">
                <h4 class="producto__title">Cafe Molido Suave</h4>
                <span class="producto__price">$500.00</span>
              </div>
              
            </div>

            <div class="producto">
              <a href="/products/2" class="action-button view"><img src="/images/productsImage/2A-cafe.jpg" width="200" alt="" class="produto__img"></a>
              <div class="productDescription">
                <h4 class="producto__title">Cafe Molido fuerte</h4>
                <span class="producto__price">$490.00</span>
              </div>
              <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
            </div>

            <div class="producto">
              <a href="/products/3" class="action-button view"><img src="/images/productsImage/3A-cafe.jpg" width="200" alt="" class="produto__img"></a>
              <div class="productDescription">
                <h4 class="producto__title">Cafe en grano</h4>
                <span class="producto__price">$000.00</span>
              </div>
              <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
            </div>

            <div class="producto">
              <a href="/products/4" class="action-button view"><img src="/images/productsImage/4A-cafe.jpg" width="200" alt="" class="produto__img"></a>
             <div class="productDescription">
              <h4 class="producto__title">Cafe en saquitos</h4>
              <span class="producto__price">$350.00</span>
              </div>
              <a href="#"><i class="producto__icon fas fa-cart-plus"></i></a>
            </div>

            <div class="producto">
              <a href="/products/5" class="action-button view"><img src="images/productsImage/5A-cafe.jpg" width="200" alt="" class="produto__img"></a>
            <div class="productDescription">
              <h4 class="producto__title">Cafe en saquitos</h4>
              <span class="producto__price">$400.00</span>
            </div>
            <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
          </div>

          <div class="producto">
            <a href="/products/6" class="action-button view"><img src="images/productsImage/6A-cafe.jpg" width="200" alt="" class="produto__img"></a>
            <div class="productDescription">
              <h4 class="producto__title">Especial Franja Blanca</h4>
              <span class="producto__price">$1000.00</span>
            </div>
            <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
          </div>

          <div class="producto">
              <img src="images/productsImage/7A-cafe.jpg" width="200" alt="" class="produto__img">
            <div class="productDescription">
              <h4 class="produto__title">Especial Fluminense</h4>
              <span class="producto__price">$90.00</span>
            </div>
            <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
          </div>

          <div class="producto">
              <img src="images/productsImage/8A-cafe.jpg" width="200" alt="" class="produto__img">
           <div class="productDescription">
              <h4 class="producto__title">Especial Express</h4>
              <span class="producto__price">$90.00</span>
            </div>
            <a href="/product/1"><i class="producto__icon fas fa-cart-plus"></i></a>
          </div>
          
          <div class="producto">
            <img src="images/productsImage/9A-cafe.jpg" width="200" alt="" class="produto__img">
         <div class="productDescription">
            <h4 class="producto__title">Especial Descafeinado</h4>
            <span class="producto__price">$90.00</span>
          </div>
          <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
        </div>
        
        <div class="producto">
            <img src="images/productsImage/10A-cafe.jpg" width="200" alt="" class="produto__img">
         <div class="productDescription">
            <h4 class="producto__title">Especial Cinta Azul</h4>
            <span class="producto__price">$90.00</span>
          </div>
          <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
        </div>

        
        <div class="producto">
            <img src="images/productsImage/11A-cafe.jpg" width="200" alt="" class="produto__img">
         <div class="productDescription">
            <h4 class="produto__title">Especial Noir</h4>
            <span class="produto__price">$90.00</span>
          </div>
          <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
        </div>

        <div class="producto">
            <img src="images/productsImage/12A-cafe.jpg" width="200" alt="" class="produto__img">
         <div class="productDescription">
            <h3 class="producto__title">Especial Selección</h3>
            <span class="producto__price">$90.00</span>
          </div>
          <a href=""><i class="producto__icon fas fa-cart-plus"></i></a>
        </div>

        
        

    </section>


    <h3 class="productsH3">Nuestro Chocolate</h3>
        
    <section id="chocolates"> 
      <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center-align titulo">¿Cuál se te antoja hoy?</h2>

                <div class="carousel center-align">
                    <div class="carousel-item">
                        <h2 class="subtitulo">Chocolate 40% Cacao</h2>
                        <div class="linea-division"></div>
                        <p class="sabor"></p>
                        <img src="/images/productsImage/13-chocolate.jpg" alt="" width="200">
                    </div> 
                    
                    <div class="carousel-item">
                      <h2 class="subtitulo">Chocolate 70% Cacao</h2>
                      <div class="linea-division"></div>
                      <p class="sabor"></p>
                      <img src="/images/productsImage/14-chocolate.jpg" alt="" width="200">
                  </div> 
                  
                   
                  <div class="carousel-item">
                    <h2 class="subtitulo">Chocolate 90% Cacao</h2>
                    <div class="linea-division"></div>
                    <p class="sabor"></p>
                    <img src="/images/productsImage/15-chocolate.jpg" alt="" width="200">
                </div> 
                </div>
            </div>

    </section><br>


    <%- include('partials/footer') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
