<!DOCTYPE html>
<html>
  <!-- head-->
    <%- include('partials/head') -%>

<a link rel="stylesheet" href="../public/css/register.css"></a> 
 
<body>
<!-- header -->
    <%- include('partials/header') %>

    <main class="register">
      <form action="register" method="POST">
        <ul>
        <li> 
          <label for="name"><b>Nombre y apellido:</b></label>
          <input type="text" name="name" placeholder="Nombre y apellido" required><br>
        </li>
        <li> 
          <label for="user"><b>Nombre de usuario:</b></label>
          <input type="text" name="user" placeholder="Nombre de usuario" required><br>
        </li> 
       <li>
        <label for="email"><b>E-mail:</b></label>
        <input type="email" name="email" placeholder="E-mail" required><br>
        <br></li>
        <li>
        <label for="birth_date"><b>Fecha de nacimiento</b></label>
        <input type="date" name="birth_date" id="birth_date" />
        <br>
        </li>
        <li>
        <label for="adrees"><b>Domicilio</b></label>
        <input type="text" name="adressStreet" placeholder="Calle">
        <input type="number" name="adressNumber" placeholder="altura">
        <input type="text" name="adressSpecific" placeholder="departamento">  
        <input type="city" name="adressCity" placeholder="Ciudad">
      </li>  
      </ul>
      <br>
        <label><B>Perfil del usuario</B></label>
        <div class="profile">
             <ul>
            <li><label for="buy">Comprador</label><input type="radio" name="profile" value="buy" id="buy"></li>
          
           <li><label for="sell">Vendedor</label><input type="radio" name="profile" value="sell" id="sell"></li>
          </ul>
                </div>

        <label><B>Intereses</B></label>
        <div class="interests">
          <div>
            <input type="checkbox" name="interests" value="a" id="a" />
            <label for="a">Café Fuerte</label>
          </div>
          <div>
            <input type="checkbox" name="interests" value="b" id="b" />
            <label for="b">Café Suave</label>
          </div>
          <div>
            <input type="checkbox" name="interests" value="c" id="c" />
            <label for="c">Café Exótico</label>
          </div>
          <div>
            <input type="checkbox" name="interests" value="d" id="d" />
            <label for="d">Café de Finca</label>
          </div>
          <div>
            <input type="checkbox" name="interests" value="e" id="e" />
            <label for="e">Café Original</label>
          </div>
        </div>
        <br>
        <label><b>Elegí tu foto de usuario</b></label>
        <ul>
          <li>
            <input type="file" name="avatar" />
          </li>
        </ul>
          <br>
        <label><b>Contraseña</b></label>
        <input type="password" name="pass" placeholder="Elegí tu contraseña" maxlength="30" pattern="[A-Za-z0-9@#$%!]{8,20}"required/>
        <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" required>
        <br>
      <div class="botones"> 
        <input type="submit" value="Enviar" class="enviar">
        <br>
        <input type="reset" value="Borrar" class="borrar">
      </div>
      </form>
    </main>
      <!-- footer -->
      <%- include('partials/footer') %>
  </body>
</html>
