<html>
    <%- include('partials/head') -%>
  
    <body>
  <%- include('partials/header') -%>
  
  <h2>Nosotros somos ...</h2>

  <h3>Seguinos en nuestro Instagram</h3>
  -- feed de instagram ---
  <section id="feed-contenedor">
    <div class="main-galery">
      ---left----
        <div class="chevron">
          <span id="prev" class="material-icons">
          &#xe5cb;
          </span>
        </div>

      ---- galery ---
<div class="image overflow">

  
      <div class="contenedor-galery">
      <div class="galery"></div>
      </div>
          ---rigth----
        <div class="chevron">
          <span id="next" class="material-icons">
          &#xe5cc;
          </span>
        </div>
      </div>
  </section>
  <h2>Nuestras recomendaciones</h2>
  
<script src="api.js"></script>
     <!-- footer -->
     <%- include('partials/footer') %>
    </body>
  </html>