<html>
    <%- include('partials/head') -%>
  
    <body>
  <%- include('partials/header') -%>
  
  <h2>Nosotros somos ...</h2>
  
  <h2>Nuestras recomendaciones</h2>
  <p>podemos consumir alguna Api</p>