<html>
    <!-- head-->
    <%- include('partials/head') -%>
<body>
    <%- include('partials/header') %>   

    <title>Informacion del Usuario</title>

     <!-- footer -->
     <%- include('partials/footer') %>   
</body>
</html>