<footer class="footer">
<div>
  <div id="colum-1">
  <ul>
      <li class="itemFooter"><p><b>Links Rapidos</b></p></li>
          <li class="subItemFooter"><a href="/">Inicio</a></li>
          <li class="subItemFooter"><a href="\products">Productos</a></li>
          <li class="subItemFooter"><a href="/cart">Carrito</a></li>
          <li class="subItemFooter"><a href="/legales">Legales</a></li>
      </ul>
  </div>
  <div id="colum-2">    
        <ul>
          <li class="itemFooter"><P><b>Medios de Pago</b></P></li>         
          <li class="subItemFooter">Visa</li>
          <li class="subItemFooter">Mastercard</li>
          <li class="subItemFooter">Amex</li>
          <li class="subItemFooter">Transferencia</li>
        </ul>
  </div>
   <div id="colum-3"> 
        <ul type="none">
        <li class="itemFooter"><P><b>Contacto</b></P>
          <li class="subItemFooter">eMail<img src="../../../images/maildotru.svg"  width="10%"></li>
          <li class="subItemFooter">Instagram<img src="../../../images/instagram.svg" width="10%"></li>
          <li class="subItemFooter">Facebook<img src="../../../images/facebook.svg" width="10%"></li>
          <li class="subItemFooter">LinkdIn<img src="../../../images/linkedin.svg" width="10%"></li>
        </ul>
              </div>
  
  </div>
  </footer>
 
</body>
</html>