<footer class="footer">
<div>
  <div id="colum-1">
  <ul>
      <li class="itemFooter">
        <p><b>Links Rapidos</b></p></li>
          <li class="subItemFooter"><a href="/">Inicio</a></li>
          <li class="subItemFooter"><a href="\products">Productos</a></li>
          <li class="subItemFooter"><a href="/cart">Carrito</a></li>
          <li class="subItemFooter"><a href="TerminosYCondiciones.html">Legales</a></li>
      </ul>
  </div>
  <div id="colum-2">    
        <ul>
          <li class="itemFooter"><P><b>Medios de Pago</b></P></li>         
          <li class="subItemFooter">Visa</li>
          <li class="subItemFooter">Mastercard</li>
          <li class="subItemFooter">Amex</li>
          <li class="subItemFooter">Transferencia</li>
        </ul>
  </div>
   <div id="colum-3"> 
        <ul type="none">
        <li class="itemFooter"><P><b>Contacto</b></P>
          <li class="subItemFooter">eMail</li>
          <li class="subItemFooter">Instagram</li>
          <li class="subItemFooter">Face</li>
          <li class="subItemFooter">Linkdin</li>
        </ul>
    </div>
  </div>
  </footer>
</body>
</html>