<header> 
  <body>
    <div  class="header"> 
    <h1><a href="/" id="logo">María Antonia</a></h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="\products">Tienda</a></li>
        <li><a href="/us">Sobre Nosotros</a></li>
        <li><a href="/users/register">Registrarme</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/cart">Carrito</a></li>
      </ul>
    </nav>
  </div>
  </header>
  