<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Antonia Cafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>


    <header>
        <h1><a href="/" id="logo">Maria Antonia</a></h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Tienda</a>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="/register">Registrarme</a></li>
                <li><a href="/login">Ingresar <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/Cart">Carrito</a></li>
            </ul>
        </nav>
    </header>

    <section id="cuerpo">
        <article id="BannerPpal">
            <p id="TextoBanner">Cafe de la finca <br> al consumidor.</p>
        </article>
    </section>
    <section id="Cafes">
        <article>
            <p>Cafe Destacado 1</p>
        </article>
        <article>
            <p>Cafe Destacado 2</p>
        </article>
        <article>
            <p>Cafe Destacado 2</p>
        </article>
    </section>


    <footer>
        <ul type="none">
            <li class="itemFooter">Links Rapidos <ul type="none">
                    <li class="subItemFooter"><a href="/">Inicio</a></li>
                    <li class="subItemFooter"><a href="Productos.html">Productos</a></li>
                    <li class="subItemFooter"><a href="/Cart">Carrito</a></li>
                    <li class="subItemFooter"><a href="TerminosYCondiciones.html">Legales</a></li>
                </ul>
            </li>
            <li class="itemFooter">Medios de Pago <ul type="none">
                    <li class="subItemFooter">Visa</li>
                    <li class="subItemFooter">Mastercard</li>
                    <li class="subItemFooter">Amex</li>
                    <li class="subItemFooter">Transferencia</li>
                </ul>
            </li>
            <li class="itemFooter">Contacto <ul type="none">
                    <li class="subItemFooter">eMail</li>
                    <li class="subItemFooter">Instagram</li>
                    <li class="subItemFooter">Face</li>
                    <li class="subItemFooter">Linkdin</li>
                </ul>
            </li>
        </ul>
    </footer>



</body>

</html>