<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Antonia Cafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <h1><a href="/" id="logo">Maria Antonia</a></h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Tienda</a>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="/register">Registrarme</a></li>
                <li><a href="/login">Ingresar <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/Cart">Carrito</a></li>
            </ul>
        </nav>
    </header>
    <main class="login">
        <form action="/" method="POST">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="password" name="pass" placeholder="Elegí tu contraseña">
            <input type="submit" value="Enviar" class="enviar">
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>