<!DOCTYPE html>
<html>
  <%- include('../partials/head') -%>

  <body>
<%- include('../partials/header') -%>
    
<main class=delete>
    <h2>Esta seguro que quiere borrar el usuario </h2>
    <form action="" method="post"> 
        <!-- Falta completar el action -->
    <button type="submit">Borrar</button>
    </form>
</main>
<!-- footer -->
  <%- include('../partials/footer') %>
</body>
</html>