<!DOCTYPE html>
<html>
  <%- include('../partials/head') -%>

  <body>
<%- include('../partials/header') -%>
    
<main class=delete>
    <h2>Esta seguro que quiere borrar el usuario </h2>

     


   
</main>

<!-- footer -->
  <%- include('../partials/footer') %>
</body>
</html>