<html>
    <!-- head-->
    <%- include('../partials/head') -%>
<body>
    <%- include('../partials/header') %>   

    <title>Informacion del Usuario</title>
    
    <p>aca va la logica java que falta</p>
    
     <!-- footer -->
     <%- include('../partials/footer') %>   
</body>
</html>