<!DOCTYPE html>
<html>
  <%- include('../partials/head') -%>

  <body>
<%- include('../partials/header') -%>
    
<main class="login">
  <% if (locals && locals.errors) { %>
    <p><%= locals.errors.msg %> </p>
  <% }%>


      <form action="/users/login" method="POST">
        <ul>
          <li>
          <input type="email" name="email" placeholder="E-mail" required/>
          </li>
          <li>
          <input type="password" name="pass" placeholder="Contraseña" required/>
          </li> 
        <input type="submit" value="Ingresar" class="enviar" />
      </ul>
      </form><br>
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
